html {
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

header {
  margin-bottom: 5vh;
}

header h1 , header h3 {
  text-align: center;
  letter-spacing: 0.1em;
  transform: perspective(100px) rotateX(20deg);
  margin-bottom: 10px;
  color: gold;
  text-shadow: 1px 2px 1px black;
}

header h3 {
  color: black;
  text-shadow: 1px 2px 1px white;
}

#main-container #color-palette {
  display: flex;
  justify-content: space-evenly;
}

.color {
  width: 6vw;
  height: 9vh;
  padding: 5px;
  border-radius: 15%;
  border: 1px solid black;
  box-shadow: 1px 1px 9px green;
  transition: all 0.2s linear;
}

.color:hover {
  transform: translateY(-0.5vw) scaleX(0.7);
  cursor: pointer;
}

.container-table {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  padding: 0;
  margin-top: 3%;
  margin-left: 35%;
}

.btn-random , .btn-clear {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  transition: all 0.1s linear;
  padding: 5px;
}

.btn-random {
  margin-left: 20%;
}

.btn-clear {
  background-color: white;
  color: black;
  margin-left: 46%;
  margin-top: 10px;
}

.btn-random:hover , .btn-clear:hover {
  transform: scaleX(0.9) scaleY(0.8);
}

#footer-container {
  display: flex;
  justify-content: space-around;
}
